* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.headerContainer {
  height: 100vh;
  width: 100%;
  background-color: green;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  height: 33px;
  width: 100%;
  background-color: red;
  padding: 0.5%;

  position: relative;
}

.logo {
  background-color: yellow;
  float: left;
  width: 250px;
  height: 30px;
}

.navlinks {
  float: right;
  position: absolute;
  width: 40%;
  height: 30px;
  background-color: purple;
  right: 1.5%;
}

.canvasContainer {
  width: 70%;
  height: 100%;
  margin: 1%;
  background-color: white;
  border: 3px solid black;
}
